<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{$meta_title}-狂雨小说CMS</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__ADMIN__/css/admin.css"></head>
  <link rel="stylesheet" href="__ADMIN__/css/font.css">
<body>
  <div class="layui-card layui-card-open">
    <div class="layui-card-body">
      <form class="layui-form" action="{:url()}">
        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-block w500">
            <input type="text" name="name" class="layui-input" lay-verify="required" value="{$info.name|default=''}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">经验所处(最低)</label>
          <div class="layui-input-inline">
            <input type="text" name="exp_min" class="layui-input" lay-verify="number" value="{$info.exp_min|default=0}">
          </div>
          <label class="layui-form-label">经验所处(最高)</label>
          <div class="layui-input-inline">
            <input type="text" name="exp_max" class="layui-input" lay-verify="number" value="{$info.exp_max|default=0}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">允许评论</label>
          <div class="layui-input-block">
            <input type="radio" name="json[comment]" value="1" title="正常" {eq name="info['json']['comment']|default=1" value="1"}checked{/eq}>
            <input type="radio" name="json[comment]" value="0" title="关闭" {eq name="info['json']['comment']|default=1" value="0"}checked{/eq}>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">评论经验</label>
          <div class="layui-input-inline">
            <input type="text" name="json[comment_exp]" class="layui-input" lay-verify="number" value="{$info['json']['comment_exp']|default=1}">
          </div>
          <label class="layui-form-label">评论积分</label>
          <div class="layui-input-inline">
            <input type="text" name="json[comment_integral]" class="layui-input" lay-verify="number" value="{$info['json']['comment_integral']|default=1}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">上传头像</label>
          <div class="layui-input-block">
            <input type="radio" name="json[faces]" value="1" title="正常" {eq name="info['json']['faces']|default=1" value="1"}checked{/eq}>
            <input type="radio" name="json[faces]" value="0" title="关闭" {eq name="info['json']['faces']|default=1" value="0"}checked{/eq}>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">使用书架</label>
          <div class="layui-input-block">
            <input type="radio" name="json[bookshelf]" value="1" title="正常" {eq name="info['json']['bookshelf']|default=1" value="1"}checked{/eq}>
            <input type="radio" name="json[bookshelf]" value="0" title="关闭" {eq name="info['json']['bookshelf']|default=1" value="0"}checked{/eq}>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">书架书籍数量</label>
          <div class="layui-input-inline">
            <input type="text" name="json[bookshelf_num]" class="layui-input" lay-verify="number" value="{$info['json']['bookshelf_num']|default=5}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">阅读经验(分钟)</label>
          <div class="layui-input-inline">
            <input type="text" name="json[reader_exp]" class="layui-input" lay-verify="number" value="{$info['json']['reader_exp']|default=1}">
          </div>
          <label class="layui-form-label">阅读积分(分钟)</label>
          <div class="layui-input-inline">
            <input type="text" name="json[reader_integral]" class="layui-input" lay-verify="number" value="{$info['json']['reader_integral']|default=1}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">每日推荐票</label>
          <div class="layui-input-inline">
            <input type="text" name="json[recommend]" class="layui-input" lay-verify="number" value="{$info['json']['recommend']|default=1}">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input name="id" type="hidden" value="{$info.id|default=""}" />
            <button class="layui-btn" lay-submit lay-filter="ajax" type="submit">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="__STATIC__/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js"></script>
  <script type="text/javascript" src="__ADMIN__/lib/cropper/croppers.js"></script>
  <script type="text/javascript" src="__ADMIN__/js/admin.js"></script>
</body>
</html>