<div class="footer-box show" style="clear:both;">
	<p class="channel-font">
		<a href="javascript:viod();" target="_blank">友情连接：</a>
		{link id="vo"}
		<a href="{$vo['url']}" target="_blank">{$vo['title']}</a>
		{/link}
		<br>
	</p>
	<p class="footer-announce">
		Copyright © 2011-2018 {$web['url']} Rights Reserved.   {$web['meta_title']} 版权所有
	</p>
	<div style="width:300px;margin:0 auto; padding:20px 0;">
		<a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
			<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">{$web['icp']}</p>
		</a>
	</div>
</div>