<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>{$web['meta_title']}</title>
    	<link href="{$user_tplpath}css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="header reg-header">
	        <div class="box-center">
	            <div class="logo cf"><a href="{$web['url']}"><img src="{$web['logo']}"></a><em></em><span class="lang">用户注册</span></div>
	        </div>
	    </div>
	    <div class="box-center-reg">
	        <!-- start 注册模块 -->
	        <div class="reg-wrap">
	            <!-- start 注册进度 -->
	            <div class="reg-step">
	                <!-- 步进到哪一步，就给当前span上class：act -->
	                <span class="lang act"><i>1</i>填写注册信息</span>
	                <span class="lang"><em class="iconfont">&#xe61e;</em>注册成功</span>
	            </div>
	            <div class="reg-form-wrap">
	                <form action="{:url('reg')}" method="post">
	                    <div class="reg-form-list form-list">
	                        <dl>
	                            <dd class="top" id="name">
	                            	<em>用户名</em>
	                            	<input type="text" placeholder="输入用户名" name="username" id="txtname">
	                            </dd>
	                            <dd id="email">
	                            	<em>邮箱</em>
	                            	<input type="text" placeholder="输入邮箱" name="email" id="txtemail">
	                            </dd>
	                            <dd id="pwd">
	                            	<em>密码</em>
	                            	<input type="password" name="password" id="txtpwd" placeholder="6-18位大小写字母、符号或数字">
	                            	<div class="password-tip" style="display:none">
	                            		<span><cite></cite></span>
	                            		<p id="pwdrule1">长度为6-18个字符</p>
	                            		<p id="pwdrule2">不能是9位以下的纯数字</p>
	                            		<p id="pwdrule3">不能包含空格</p>
	                            	</div>
	                            	<div class="password-strong" style="display:none">
		                                <p style="display:none"><span class="level-1" ><b></b></span>弱</p>
		                                <p style="display:none"><span class="level-2" ><b></b></span>中</p>
		                                <p style="display:none"><span class="level-3" ><b></b></span>强</p>
		                            </div>
	                            </dd>
	                            <dd id="password2">
	                            	<em>确认密码</em>
	                            	<input type="password" name="repassword" id="txtpwd2" placeholder="再次输入密码">
	                            </dd>
	                            {eq name="Think.config.web.user_reg_verify" value="1"}
	                            <dd id="code"> <em>验证码</em>
	                            	<input class="mid" name="code" type="text" id="txtcode" placeholder="验证码">
	                            	<img class="code-img" id="imgrnd" src="{:url('user/user/verify')}" alt="这里是验证码">           
	                            	<a href="javascript:" id="refresh_code" class="stat">换一张</a>
	                            </dd>
	                            {/eq}
	                        </dl>
	                        <div class="deal">
	                            <input type="checkbox" name="protocol" id="deal" name="checkbox" checked="">
	                            <label for="deal" class="ui-checkbox"></label>
	                            <label for="deal">我已阅读并同意</label>
	                            <a href="{:url('pact')}" target="_blank">《用户服务协议》</a>
	                        </div>
	                        <a class="blue-btn go-reg btn-yuewen" href="javascript:" id="btnRegister">立即注册</a>
	                    </div>
	                </form>
	            </div>
	            <!-- end 注册进度 -->
	        </div>
	        <!-- end 注册模块 -->
	    </div>
	    <div class="footer-wrap">
	    	<div class="footer">
	    		<div class="copy-right">
	    			<p>{$web['icp']}</p>
	    			<p>
	    				Copyright © 2018 All Rights Reserved
	    				<a href="{$web['url']}" target="_blank">{$web['meta_title']}</a>版权所有
	    			</p>
	    		</div>
	    	</div>
	    </div>
	</body>
	<script type="text/javascript" src="{$user_tplpath}js/jquery.min.js"></script>
	<script type="text/javascript" src="{$user_tplpath}js/register.js"></script>
	<script type="text/javascript">
        var register = new register();
        {eq name="Think.config.web.user_reg_verify" value="0"}
        	register.checkAccount.code=true;
        {/eq}
	</script>
</html>