<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="template/comment/style/style.css" rel="stylesheet" type="text/css">
	<title>评论</title>
</head>
<body>
	<!-- 未完成 -->
	<div style="width: 100%; padding-bottom: 20px">
		<span id="counter-box">
			<div class="global-nav">
				<ul>
					<li>
						<h4 class="pull-left" style="display: inline-block;font-weight: initial;font-size: {$size+4}px">精彩评论</h4>
						<h5 class="pull-left" style="display: inline-block;font-weight: initial;font-size:{$size}px">已盖 <span style="color:#f10">{$count}</span> 楼</h5>
					</li>
				</ul>
			</div>
		</span>
		<span id="post-box">
			<div class="uyanpost">
				<form method="post" action="{:url('add')}" class="form-x">
				<div class="resetbox sectionbox">
					<div class="blockbox">
						<div class="postarea">
							<div class="postborder">
								{empty name="user['id']"}
								<div style="background:#fff;
								width: 99.8%;height: 80px;font-size: {$size}px;box-sizing:border-box;padding:10px">您还未登录，请先 <a href="{:url('user/user/login')}" style="color:#f20" target="_parent">登录</a> 后再发表评论。</div>
								{else/}
								<textarea name="content"></textarea>
								<input type="hidden" name="type" value="{$Request.param.type|default='novel'}" />
								{/empty}
							</div>
							<div style="display: block;text-align: right;margin-top:8px">
								<button class="btn btn-info ajaxpost" type="submit" target-form="form-x">发 送</button>
							</div>
						</div>
						<input type="hidden" name="mid" value="{$mid}">
					</div>
				</div>
				</form>
			</div>
		</span>
		<span id="nav-box">
			<div class="nav">
				<div class="nav-left">
					<span style="font-size: {$size+4}px;"> 最新评论</span>
				</div>
				<div class="claer"></div>
			</div>
		</span>
		<span id="posts">
			
		</span>
		<span id="loadmore" style="display: none;"></span>
		<div class="ujian-uyan"></div>
	</div>
	
</body>
	<script src="__STATIC__/jquery/jquery.min.js"></script>
	<script type="text/javascript">
		var trre={:json_encode($tree)},page_num={$limit|default=5},count={$count},mold="{$mold}",type="{$Request.param.type|default='novel'}";
	</script>
	<script src="template/comment/js/comment.js"></script>
</html>