<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{$meta_title}-狂雨小说CMS</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__ADMIN__/css/admin.css"></head>
<body>
  <div class="layui-card layui-card-open">
    <div class="layui-card-body">
      <form class="layui-form" action="{:url()}">
        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" class="layui-input" value="{$info.title|default=''}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">数据类型</label>
          <div class="layui-input-inline">
            <select name="type">
              <option value="novel" {eq name="info.type|default='novel'" value="novel"}selected="selected"{/eq}>小说</option>
              <option value="news" {eq name="info.type|default='novel'" value="news"}selected="selected"{/eq}>文章</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">收费</label>
          <div class="layui-input-inline">
            <input type="text" name="charge" lay-verify="required|number" class="layui-input" value="{$info.charge|default=''}">
          </div>
          <div class="layui-form-mid layui-word-aux">添加和更新所需积分(每一条)</div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">介绍</label>
          <div class="layui-input-block">
            <textarea name="intro" placeholder="简单介绍" lay-verify="required" class="layui-textarea">{$info.intro|default=''}</textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <input name="id" type="hidden" value="{$info.id|default=""}" />
            <input name="url" type="hidden" value="{$domain}">
            <button class="layui-btn" lay-submit lay-filter="ajax" type="submit">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="__STATIC__/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js"></script>
  <script type="text/javascript" src="__ADMIN__/js/admin.js"></script>
</body>
</html>