<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>{$web['meta_title']}</title>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="{$user_tplpath}css/style.css">
    <script type="text/javascript" src="{$user_tplpath}js/flexible.min.js"></script>
</head>
<body>
	<div class="app_meskSection"></div>
	<div class="container">
		<div class="app_header_section2  app_scrollerHeader" id="header">
			<div class="app_header_detail2">
				<div class="app_header_back"></div>
				<div class="app_header_h1">
					登录
					<i class="moreIco"></i>
				</div>
			</div>
			<div class="app_header_second" style="display: none;">
				<ul>
					<li class="icon1">
						<a href="/">首页</a>
					</li>
					<li class="icon2">
						<a href="{:url('home/lists/lists')}">书库</a>
					</li>
					<li class="icon3">
						<a href="{:url('user/bookshelf/index')}">书架</a>
					</li>
					<li class="icon4">
						<a href="{:url('user/index/index')}">账户</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="app_body">
			<div class="app_bindPhoneBlock">
				<div class="app_bindPhoneBlock_header">
					<span class="app_header">
						<img src="{$user_tplpath}images/userlogin.png"></span>
				</div>
				<div class="app_lisLoinSpan">
					<ul>
						<li class="username">
							<input id="userphone" type="text" name="username" placeholder="请输入用户名">	
						</li>
						<li class="password">
							<input id="userpass" type="password" name="password" placeholder="请输入密码">
						</li>
						{eq name="Think.config.web.user_login_verify" value="1"}
						<li class="code">
							<input id="code" type="text" name="code" placeholder="请输入验证码">
							<img src="{:url('user/user/verify')}" id="imgCode" alt="验证码">
						</li>
						{/eq}
					</ul>
				</div>
				<div class="app_listBlockButton" style="padding-top: 0.36rem">
					<button id="loginbtn" ajax-post='app_lisLoinSpan' url="{:url('')}" errorback="newcode()">立即登录</button>
				</div>
				<div class="app_registerList">
					<span class="public_AddFloatLeft">
						<a href="{:url('user/user/reg')}">我要注册</a>
					</span>
					<span class="public_AddFloatRight">
						<a href="{:url('user/user/forgetpwd')}">忘记密码</a>
					</span>
				</div>
				<div class="app_dengLu_title"> <i>以下账号直接登录</i></div>
				<div class="app_iconList app_iconList2">
					<ul>
						{oauth_login id="login"}
						<li>
							<a href="{$login['url']}">
								<span><img src="{$login['pic']}"></span>
								<span class="name">{$login['title']}</span>
							</a>
						</li>
						{/oauth_login}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{$user_tplpath}js/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer_mobile/layer.js"></script>
	<script type="text/javascript" src="{$user_tplpath}js/ajax.js"></script>
	<script type="text/javascript" src="{$user_tplpath}js/user.js"></script>
</body>
</html>